# Emacs
*~
src/.recentf
src/anaconda-mode/
src/bbdb
src/bookmarks
src/emojis/
src/org-clock-save.el
src/places
src/projectile-bookmarks.eld
src/projectile.cache
src/recentf
src/request/
src/url/

# Emacslisp
.cask
elpa
.projectile
*.elc
test/sandbox/

doc/scame.html
doc/scame.pdf
doc/scame.epub

.vagrant
